body{
    font-size: large;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    margin: 0px auto;
}
.focus{
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: -70px;
}
.mission-22{
    color: orange;
}
section{
    display: flex;
margin-bottom: 150px;
}
.half{
    width:50%;
    padding-left: 5%;
}
.half img{
    width: 70%;
}
#border{
    font-size: 40px;
    padding-left:5% ;
   border-left: 5px solid tomato;
}
.button{
    text-decoration: none;
    background-color: tomato;
    padding:10px 60px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}
.scroll1{
    margin-top: 30px;
}
.scroll2{
    margin-top: 50px;
}
.second-section{
   text-align: center; 
   margin-top: -100px;
}
.misson{
    width: 350px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(223, 242, 253);
    border-radius: 20px;
}
.visson{
    width: 350px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:rgb(253, 231, 231);
    border-radius: 20px;
}
.goal{
    width: 350px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 238, 226);
    border-radius: 20px;
}
.div-img img{
    width: 60%;
}
.my-misson{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.bold{
    font-weight: 900;
    font-size: xx-large;
}
.dwl{
    margin-bottom: -30px;
    }
.dwl1{
        margin-left: 60px;
    }
.coding-width img{
        width: 500px;
        padding-left: 80px;
        text-align: justify;
        background-repeat: no-repeat;
        background-position : left;
        padding-bottom: 70px;
        padding-right: 80px;
}
    .pera{
        width: 70%;
    }
    .repeat-img{
        background-image: url(images/shapes/shape-1.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 250px;

    }
    .repeat-img2{
        background-image: url(images/shapes/shape-1.png);
        background-repeat: no-repeat;
     background-position-y: 320px;
     background-position-x: 410px;
     background-size: 250px;
    }